################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/api/.vs
/src/api/UniEye.Bootstrapper/.vs
/src/api/UniEye.Bootstrapper/bin/Debug/net7.0
/src/api/UniEye.Bootstrapper/obj
/src/api/UniEye.Modules.Students.Api/bin/Debug/net7.0
/src/api/UniEye.Modules.Students.Api/obj
/src/api/UniEye.Modules.Students.App/bin/Debug/net7.0
/src/api/UniEye.Modules.Students.App/obj
/src/api/UniEye.Modules.Students.Core/obj
/src/api/UniEye.Modules.Students.Infrastructure/bin/Debug/net7.0
/src/api/UniEye.Modules.Students.Infrastructure/obj
/src/api/UniEye.Shared/bin/Debug/net7.0
/src/api/UniEye.Shared/obj
/src/api/UniEye.Modules.Students.Core/bin/Debug/net7.0
/src/api/UniEye.Shared.App/bin/Debug/net7.0
/src/api/UniEye.Shared.App/obj
/src/api/UniEye.Shared.Domain/obj
/src/api/UniEye.Shared.Domain/bin/Debug/net7.0
/src/api/UniEye.Modules.Students.Shared/obj
/src/api/UniEye.Modules.Users.Shared/obj
/src/api/UniEye.Modules.Users.Api/bin/Debug/net7.0
/src/api/UniEye.Modules.Users.Api/obj
/src/api/UniEye.Modules.Users.App/bin/Debug/net7.0
/src/api/UniEye.Modules.Users.App/obj
/src/api/UniEye.Modules.Users.Shared/bin/Debug/net7.0
/src/api/UniEye.Modules.Students.Shared/bin/Debug/net7.0
/src/api/UniEye.Modules.Notifications.App/bin/Debug/net7.0
/src/api/UniEye.Modules.Notifications.App/obj
/src/api/UniEye.Modules.Notifications.Shared/bin/Debug/net7.0
/src/api/UniEye.Modules.Notifications.Shared/obj
/src/api/UniEye.Modules.Study.Api/obj
/src/api/UniEye.Modules.Study.App/obj
/src/api/UniEye.Modules.Study.Core/obj
/src/api/UniEye.Modules.Study.Shared/obj
/src/api/UniEye.Modules.Study.Api/bin/Debug/net7.0
/src/api/UniEye.Modules.Study.Core/bin/Debug/net7.0
/src/api/UniEye.Modules.Study.Shared/bin/Debug/net7.0
/src/api/UniEye.Modules.Study.App/bin/Debug/net7.0
/src/api/UniEye.Modules.Study.Infrastructure/obj/Debug/net7.0/ref/UniEye.Modules.Study.Infrastructure.dll
/src/api/UniEye.Modules.Study.Infrastructure/obj/Debug/net7.0/UniEye.Modules.Study.Infrastructure.pdb
/src/api/UniEye.Modules.Study.Infrastructure/obj/Debug/net7.0/UniEye.Modules.Study.Infrastructure.dll
/src/api/UniEye.Modules.Study.Infrastructure/obj/Debug/net7.0/UniEye.Modules.Study.Infrastructure.csproj.CoreCompileInputs.cache
/src/api/UniEye.Modules.Study.Infrastructure/obj/Debug/net7.0/UniEye.Modules.Study.Infrastructure.csproj.AssemblyReference.cache
/src/api/UniEye.Modules.Study.Infrastructure/bin/Debug/net7.0/UniEye.Shared.Domain.pdb
/src/api/UniEye.Modules.Study.Infrastructure/bin/Debug/net7.0/UniEye.Shared.Domain.dll
/src/api/UniEye.Modules.Study.Infrastructure/bin/Debug/net7.0/UniEye.Modules.Study.Infrastructure.pdb
/src/api/UniEye.Modules.Study.Infrastructure/bin/Debug/net7.0/UniEye.Modules.Study.Infrastructure.dll
/src/api/UniEye.Modules.Study.Infrastructure/bin/Debug/net7.0/UniEye.Modules.Study.Core.pdb
/src/api/UniEye.Modules.Study.Infrastructure/bin/Debug/net7.0/UniEye.Modules.Study.Core.dll
/src/api/UniEye.Modules.Study.Infrastructure/obj/Debug/net7.0/refint/UniEye.Modules.Study.Infrastructure.dll
